<style>
  :host ::ng-deep {
    margin: 0 auto;
    width: 100%;

    box-sizing: border-box;
  }
  .btns{
    padding: 0;
  }
</style>
<form class="cols" [formGroup]="dataForm" (ngSubmit)="onSubmit()">
  <div>
    <label class="inblock">درجة:</label>
    <select class="inblock" formControlName="daraga_id" data>
      <option *ngFor="let option of this.options" [value]="option.id">
        {{ option.name }}
      </option>
    </select>
  </div>
  <div>
    <label class="inblock">تاريخ:</label>
    <input
      class="inblock"
      type="date"
      formControlName="promotion_date"
      required
    />
  </div>

  <div class="btns">
    <ng-container *ngIf="formType">
      <button type="submit" [disabled]="!dataForm.valid">
        إضافة
      </button>
    </ng-container>
    <ng-container *ngIf="!formType">
      <button  type="submit" [disabled]="!dataForm.valid">
        تعديل
      </button>
      <button type="reset" (click)="reset()">
        إلغاء
      </button>
    </ng-container>
  </div>


</form>

<app-message
  [type]="msgType"
  [show]="msgShow"
  [msg]="msgContent"
  (done)="msgDone()"
></app-message>
